@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/_Layouts/AdminLayout.cshtml";
}

<style>
    span { display: block; border: 1px solid red; }
    .picture_area { width: 120px; height: 150px; }
    ul li { display: inline-block; list-style: none; }
    #thumb-img { display: none; }
</style>
<script>
    $(document).ready(function () {
        $("#btn-thumb-add").click(function () {
            $("#thumb-img").click();
        })
    });
</script>

<h2>ProductAdd</h2>

<table class="tbl_editor_form">
    <tr>
        <th>상품이름</th>
        <td><input type="text" id="product-name" name="productName" /></td>
    </tr>
    <tr>
        <th>상품분류</th>
        <td>
            <select id="product-group" name="productGroup">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>상품이미지</th>
        <td>
            <ul>
                <li>
                    <span class="picture_area">
                        thumbnail
                        <input type="file" id="thumb-img" />
                    </span>
                    <span class="button_area"><input type="button" id="btn-thumb-add" class="btn_add_attach" value="Thumbnail" /></span>
                </li>
                <li>
                    <span class="picture_area">제품이미지1</span>
                    <span class="button_area"><input type="button" class="btn_add_attach" value="Thumbnail" /></span>
                </li>
                <li>
                    <span class="picture_area">제품이미지2</span>
                    <span class="button_area"><input type="button" class="btn_add_attach" value="Thumbnail" /></span>
                </li>
            </ul>
        </td>
    <tr>
        <th>제품단위</th>
        <td>몇가지 단위 입력/직접 적을 수 있는 텍스트박스 제작</td>
    </tr>
    <tr>
        <th>단위별가격</th>
        <td>금액입력/미입력 별도로 제작</td>
    </tr>
    <tr>
        <th>상품설명</th>
        <td>위지윅스</td>
    </tr>
</table>

@*상품등록
--상품이름
--상품분류
--상품이미지
--작은이미지
--상품설명*@