@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/_Layouts/AdminLayout.cshtml";
}

<div id="wrapper-left">
    <div id="notice-summary" class="left-summary">
        <table class="tbl_summary_list">
            <tr>
                <td colspan="2" class="list_title">공지사항</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
        </table>
    </div>
    &nbsp;
    <div id="qna-summary" class="left-summary">
        <table class="tbl_summary_list">
            <tr>
                <td colspan="2" class="list_title">제품문의</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
        </table>
    </div>
    &nbsp;
    <div id="estimate-summary" class="left-summary">
        <table class="tbl_summary_list">
            <tr>
                <td colspan="2" class="list_title">견적요청</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
        </table>
    </div>
</div>
<div id="wrapper-right">
    <div id="products-summary" class="right-summary">
        <table class="tbl_summary_list">
            <tr>
                <td colspan="2" class="list_title">제품목록</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
            <tr>
                <td>제품생산 지연에 대한 공지사항</td>
                <td>2016-10-05</td>
            </tr>
        </table>
    </div>
</div>

